*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 20px;
}

h1 {
    display: none;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#search-form {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 36px;
}

#search-input {
    padding: 8px 16px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(128, 128, 128, 1);
}


button {
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    background: rgba(78, 117, 255, 1);
    color: #f3f3f3;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;

}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    flex-basis: calc(33.33% - 20px);
    /* 3 items per row with space between */
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 1);
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.gallery-items-info {
    display: flex;
    color: black;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
        text-decoration: none;
            pointer-events: none;
}

.gallery-items-info-alt {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 3%;
    margin-right: 10px;
}

.gallery-items-info-alt>strong {
    font-weight: 600;
}


/* Spinner için stil */
#loading-spinner {
    display: none;
    border: 6px solid #f3f3f3;
    border-top: 6px solid rgba(78, 117, 255, 1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#load-more {
    margin: 0 auto;
}

